# Ignore all
*

# These directories/files are commited
!bin
!.config/gtk*
!.config/mpd
!.config/sublime-text-3
!.conkyrc
!conkympd
!Dev
!.fehbg
!.gtkrc-2.0
!.icons
!.local/fonts
!.local/icons
!.local/themes
!.oh-my-zsh
!scripts
!.vim
!.vimrc
!.xinitrc
!.xmonad
!.Xresources
!.zshrc
!.zsh-update

!.gitignore
